.input {
    flex: 1;
    height: 50px;
    border: 0;
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-100);
    padding: 1rem;
    outline: 1px solid var(--gray-700);
    line-height: 140%;
}

input::placeholder {
    color: var(--gray-300);
}

input:focus {
    outline: 1px solid var(--purple-dark);
}